In [2]:
import pandas as pd
import json

fileName = 'data.json' #replace with json file name

with open(fileName) as f:
  data = json.load(f)

# Extract team names
teams = list(data.keys())

# Initialize an empty DataFrame to store head-to-head records
head_to_head = pd.DataFrame(index=teams, columns=teams)

# Fill the DataFrame with head-to-head records
for team1 in teams:
    for team2 in teams:
        if team1 != team2:
            wins = data[team1][team2]['W']
            losses = data[team1][team2]['L']
            head_to_head.loc[team1, team2] = f"{wins}-{losses}"

head_to_head.fillna("--", inplace=True)


def color_coding(val):
    if val == "--":
        return ""
    else:
        wins, losses = map(int, val.split('-'))
        total_games = wins + losses
        if total_games == 0:
            return 'color: black'  # To handle the case where no games are played
        ratio = wins / total_games

        # Convert the ratio to a value between 0 and 1
        normalized_ratio = (ratio - 0) / (1 - 0)

        # Calculate the RGB values for the color gradient
        red = int((1 - normalized_ratio) * 255)
        green = int(normalized_ratio * 255)

        # Generate the color in hexadecimal format
        color_code = f'#{red:02x}{green:02x}00'  # RRGGBB format

        return f'color: {color_code}'


# Apply color-coding and display the styled DataFrame
styled_head_to_head = head_to_head.style.applymap(color_coding)
styled_head_to_head.set_table_styles([{
    'selector': 'td',
    'props': [('border', '2px solid #cccccc')]
}])

# Display the styled head-to-head records matrix
styled_head_to_head